<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Strona główna</span>
  </a>

  <a mat-list-item routerLink="/visits" routerLinkActive="active">
    <mat-icon>book</mat-icon>
    <span>Dodaj wizytę</span>
  </a>

  <a mat-list-item routerLink="/register-patient" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Zarejestruj pacjenta</span>
  </a>

  <a mat-list-item routerLink="/add-doctor" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Dodaj doktora</span>
  </a>

</mat-nav-list>
