<h3>Lista pacjentów</h3>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let patient"> {{patient.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Imię </th>
    <td mat-cell *matCellDef="let patient">
      <ng-container *ngIf="editingPatient?.id === patient.id; else displayName">
        <input matInput [(ngModel)]="editingPatient.name">
      </ng-container>
      <ng-template #displayName>
        {{ patient.name }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
    <td mat-cell *matCellDef="let patient">
      <ng-container *ngIf="editingPatient?.id === patient.id; else displaySurname">
        <input matInput [(ngModel)]="editingPatient.surname">
      </ng-container>
      <ng-template #displaySurname>
        {{ patient.surname }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="ssn">
    <th mat-header-cell *matHeaderCellDef> Pesel </th>
    <td mat-cell *matCellDef="let patient">
      <ng-container *ngIf="editingPatient?.id === patient.id; else displaySsn">
        <input matInput [(ngModel)]="editingPatient.ssn">
      </ng-container>
      <ng-template #displaySsn>
        {{ patient.ssn }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>
    <td mat-cell *matCellDef="let patient">
      <ng-container *ngIf="editingPatient?.id === patient.id; else showEditButtons">
        <button mat-button color="primary" (click)="savePatient()">Zapisz</button>
        <button mat-button color="warn" (click)="cancelEdit()">Anuluj</button>
      </ng-container>
      <ng-template #showEditButtons>
        <button mat-button color="primary" (click)="startEdit(patient)">Edytuj</button>
        <button mat-button color="warn" (click)="deletePatient(patient.id)">Usuń</button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
