<h3>Dodaj nową wizytę</h3>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="visitFormGroup" label="Uzupełnij informacje o wizycie">
    <form [formGroup]="visitFormGroup">
      <div style="display: flex; flex-direction: column; align-items: flex-start">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Pacjent</mat-label>
            <input type="text"
                   placeholder="Wybierz pacjenta"
                   aria-label="Pacjent"
                   matInput
                   required
                   formControlName="patient"
                   [matAutocomplete]="autoPatient">
            <mat-autocomplete #autoPatient="matAutocomplete" [displayWith]="displayPatientFn"
                              (optionSelected)="setPatient($event.option.value)">
              <mat-option *ngFor="let patient of filteredOptions | async" [value]="patient">
                {{ patient.name }} {{ patient.surname }} Pesel: {{ patient.ssn }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Doktor</mat-label>
            <input type="text"
                   placeholder="Wybierz doktora"
                   aria-label="Doktor"
                   matInput
                   required
                   formControlName="doctor"
                   [matAutocomplete]="autoDoctor">
            <mat-autocomplete #autoDoctor="matAutocomplete" [displayWith]="displayDoctorFn"
                              (optionSelected)="setDoctor($event.option.value)">
              <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor">
                {{ doctor.name }} {{ doctor.surname }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-form-field>
          <mat-label>Data wizyty</mat-label>
          <input matInput type="date" placeholder="Data wizyty" formControlName="date" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Godzina wizyty</mat-label>
          <input matInput type="time" placeholder="Godzina wizyty" formControlName="time" required>
        </mat-form-field>
      </div>
    </form>
    <div>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <h4>Dane nowej wizyty:</h4>
    <ul>
      <li><strong>Imię pacjenta:</strong> {{ visitFormGroup.value.patient?.name }}</li>
      <li><strong>Nazwisko pacjenta:</strong> {{ visitFormGroup.value.patient?.surname }}</li>
      <li><strong>Imię doktora:</strong> {{ visitFormGroup.value.doctor?.name }}</li>
      <li><strong>Nazwisko doktora:</strong> {{ visitFormGroup.value.doctor?.surname }}</li>
      <li><strong>Data wizyty:</strong> {{ visitFormGroup.value.date }}</li>
      <li><strong>Godzina wizyty:</strong> {{ visitFormGroup.value.time }}</li>
    </ul>
    <div>
      <button mat-button matStepperPrevious>Wstecz</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="addVisit()">Zarejestruj nową wizytę</button>
      <!--TODO po dodaniu doktora przycisk ma zniknąć -->
    </div>
  </mat-step>
</mat-stepper>
